<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88400936635-o80mbrue6ei5442bvdbtk355jomq1e22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88400936635-o80mbrue6ei5442bvdbtk355jomq1e22</string>
	<key>API_KEY</key>
	<string>AIzaSyCF732oWriA8Ju9iY402y_GMOyP29V58KU</string>
	<key>GCM_SENDER_ID</key>
	<string>88400936635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nicolero-hm.LovePet</string>
	<key>PROJECT_ID</key>
	<string>lovepet-7b28d</string>
	<key>STORAGE_BUCKET</key>
	<string>lovepet-7b28d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88400936635:ios:4e3761c1a0d3cd76a2f39e</string>
</dict>
</plist>